/* styles/style.css */
@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap");

body {
  display: flex;
  justify-content: center;
  background-color: var(background_color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  font-family: "Fanwood Text", serif;
  margin-top: 30px;
  width: 1000px;
}

.submit-box {
  margin-top: 50px;
  display: grid;
  padding: 2em;
  font-size: .5em;
  border-left: 2px solid #00254E;
}

.submit-box__input-box {
  background-color: white;
  font-size: 1.5em;
  border: none;
  border-bottom: 2px solid #00254E;
  width: 15em;
  height: 30px;
  margin: .5em;
  justify-self: center;
  text-underline-position: -10px;
  padding-left: 3px;
  margin-left: 1em;
}

.submit-box__input-box::placeholder {
  color: hsl(38, 5%, 71%);
}

.submit-box__input-box:focus {
  outline: none;
}

.submit-box__btn {
  width: 13em;
  height: 2.5em;
  border: none;
  font-size: 1.5em;
  justify-self: center;
  border-radius: 13px;
  color: white;
  background-color: #00254E;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 1em;
}

.submit-box__btn:hover {
  background-color: #00254E;
  color: #8EB2D9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
}

.success-text {
  visibility: hidden;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: hsl(103, 100%, 25%); 
}


.books {
  margin-top: -50px;
}

.books__header {
  text-align: center;
  font-family: "san-serif", Times, serif;
  font-size: 40px;
  font-weight: lighter;
  color: #00254E;
  margin-left: 25%;
  writing-mode: vertical-lr;
  rotate: 180deg;
  width: 50px; 
}

.books__header span {
  color: white;
}

.books__container {
  height: auto;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 2em;
  padding-top: 0; 
}

.books__container::-webkit-scrollbar {
  width: 1px;
}

.books__container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: 1px solid #00254E;;
}

.books__container::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(142, 178, 217, 0.5);
}

.books__item {
  display: grid;
  list-style: none;
  grid-template-columns: 100px 300px 50px;
  width: 20em;
  height: 7em;
  border-top: 1px solid #00254E;
  border-bottom: 1px solid #00254E;
  color: #00254E;
  padding-top: 2em;

}

.books__item img {
  height: 6em;
}

.books__item__title {
  font-size: 1em;
  margin: 0;
  max-width: 15em;
}

.books__item i {
  color: #8EB2D9;
  width: 20px;
  height: 20px;
  font-size: 25px;
  cursor: pointer;
  align-self: center;
  margin-top: -10px;
}

.books__item__title::placeholder,
.books__item__author::placeholder,
.books__item__price::placeholder {
  color: hsl(38, 5%, 71%);
}

.books__item i:hover {
  scale: 1.5;
  color: #00254E;
}

.books__item__author {
  margin: 0;
  font-style: italic;
}

.books__item__stock {
  margin: 0;
  color: white;
  font-size: 0.5em;
  font-weight: lighter;
  height: 1em;
  width: 5.5em;
  padding: 5px;
  padding-left: 5px;
  border-radius: 10px;
  text-align: center;
  padding-top: 4px;
}

.books__item__price {
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: .5em;
}

.books__item__stock.in-stock {
  background-color: hsl(103, 100%, 25%);
  color: white;
}

.books__item__stock.out-of-stock {
  background-color: hsl(360, 97%, 47%);
  color: white;
}

.books__description {
  position: relative;
}

.books__description .fa-trash-can {
  margin-left: 9.5em;
font-size: 1em; 
  color: hsl(0, 100%, 0%);
}